<app-header></app-header>
<section id="enter-draw" class="bg-gradient " [ngClass]="{'d-rtl': arLang}">

<div id="bg-img-wrap">
  <div class="container height-75">
    <div class="row">
      <div class="col-md-12" [ngClass]="[arLang ? ' Title-text-style-AR' : ' Title-text-style-EN']">
        <span [innerHtml]="'enter_draw.one_step_away' | translate"></span>
      </div>
    </div>

    <form [formGroup]="form" #formDir="ngForm" (ngSubmit)="enterDraw()" [ngClass]="{'text-right': arLang}">
      <div class="row">
          <div class="col-md-12">
              <div class="form-group mt-0">
                <label [ngClass]="[arLang ? 'label-AR' : 'label-EN']" for="code">{{ 'enter_draw.entry_code' | translate }}</label>
                <input type="text" formControlName="code" class="form-control Rectangle-shadow" id="code"
                  aria-describedby="codeHelp" (keydown.space)="$event.preventDefault();" placeholder="{{'enter_draw.code_placeholder' | translate}}">

                  <div *ngIf="codeInvalid" [ngClass]="[arLang ? ' error-msg-AR' : ' error-msg-EN']">
                    <div class="invalid-feedback d-block">
                        {{ 'enter_draw.oops_code_should_be' | translate }}
                    </div>
                  </div>
                <div *ngIf="Code.errors && form.controls.code.touched || formDir.submitted && Code.errors"
                    [ngClass]="[arLang ? ' error-msg-AR' : ' error-msg-EN']">
                  <div *ngIf="Code.errors?.required" class="invalid-feedback d-block">
                      {{ 'enter_draw.code_required' | translate }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label [ngClass]="[arLang ? 'label-AR' : 'label-EN']"
                  for="invoice">{{ 'enter_draw.invoice_number' | translate }}</label>
                <input type="text" formControlName="invoice" class="form-control" id="invoice"
                  aria-describedby="invoiceHelp" placeholder="{{'enter_draw.invoice_placeholder' | translate}}">
                <div *ngIf="Invoice.errors && form.controls.invoice.touched || formDir.submitted && Invoice.errors"
                  [ngClass]="[arLang ? ' error-msg-AR' : ' error-msg-EN']">

                  <div *ngIf="Invoice.errors?.required" class="invalid-feedback d-block">
                    {{ 'enter_draw.invoice_required' | translate }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                  <label [ngClass]="[arLang ? 'label-AR' : 'label-EN']" for="email">{{ 'enter_draw.email_address' | translate }}</label>
                  <input type="email" formControlName="email" class="form-control" (keydown.space)="$event.preventDefault();" id="email" aria-describedby="emailHelp"
                    placeholder="{{'enter_draw.email_placeholder' | translate}}">
                  <div *ngIf="Email.errors && form.controls.email.touched || formDir.submitted && Email.errors"
                      [ngClass]="[arLang ? ' error-msg-AR' : ' error-msg-EN']">
                      <div *ngIf="Email.errors?.pattern" class="invalid-feedback d-block">
                          {{ 'enter_draw.valid_email_address' | translate }}
                        </div>
                    <div *ngIf="Email.errors?.required" class="invalid-feedback d-block">
                        {{ 'enter_draw.email_required' | translate }}
                    </div>
                  </div>
                </div>
              </div>
      </div>

      <div class="col-md-12 pd-left-0 form-group">
          <button type="submit" [ngClass]="[arLang ? 'Rectangle-AR' : 'Rectangle-EN']" [disabled]="disabled">
            <span class="enter-draw-bold" [ngClass]='[loading ? "btn-hide" : ""]'>
                {{ 'enter_draw.enter_draw' | translate }}
            </span>
            <div class="spinner-btn" *ngIf="loading">

              </div>
          </button>
        </div>

    </form>
  </div>

  <app-footer [bgColor]="false"></app-footer>
</div>
</section>
