
#bg-img-wrap {
  background-image: url('/assets/imgs/Eiffel-Tower-enter-draw.png'), url('/assets/imgs/diamond.png');
  background-position: bottom left, 108% 108%;
  background-repeat: no-repeat;
  background-size: 30%, 30%;
}

section {
  overflow-x: auto;
}

.Title-text-style-EN {
  padding-top: 5%;
  padding-bottom: 3%;
  text-align: center;
}

.height-75 {
  padding-bottom: 11%;
  /* height: 80vh; */
}

.Rectangle-EN {
 margin-top: 0 !important;
}

.Title-text-style-AR {
  font-size: 70px;
  padding-top: 5%;
  padding-bottom: 3%;
}


@media (max-height: 850px) {

  #bg-img-wrap {
    background-position: bottom left, 106% 108%;
  }
}
@media (min-height: 890px) {

  .height-75 {
    /* height: 85vh; */
  }
}
@media (max-height: 800px) and (min-height: 700px){
  .height-75 {
    padding-bottom: 100px;
  }
}

@media (max-height: 700px) {
  .height-75 {
    /* height: auto; */
  }
  #bg-img-wrap {
    background-size: 20%;
  }
}
@media (max-width: 1025px) {
  .height-75 {
    padding-bottom: 100px;
  }
  #bg-img-wrap {
    background-position: bottom left, 111% 107%;
    background-size: 35%, 40%;
  }
}
@media (max-width: 768px) {
  #bg-img-wrap {
    background-size: 40%, 40%;
    background-position: -22% bottom, 111% 102%;
  }
  .Title-text-style-EN {
    font-size: 160px;
  }
  .Title-text-style-AR {
    font-size: 55px;
}
  .form-group {
    width: 85%;
    padding-left: 0;
    padding-right: 0;
  }
  .Rectangle-AR {
    margin-top: 0;
  }
  form {
    margin-bottom: 120px;
  }
}

@media (max-width: 425px) {
  .height-75 {
    /* height: auto; */
    padding-bottom: 10px;
  }
  .pd-top {
    padding-top: 100px;
  }
  #bg-img-wrap {
    background-size: 50%, 70%;
    background-position: bottom left, 155% 102%;
  }
}
@media(min-height:1000px) and (max-height: 1200px) {
  .height-75 {
    /* height: 70vh; */
  }
}
@media(min-height:1200px) and (max-height: 1400px) {
  .height-75 {
    /* max-height: 73vh; */
  }
}
