<footer [ngClass]="{'bg-gradient' : bgColor, 'd-rtl': arLang}">

  <div class='flex-parent' [ngClass]="[arLang ? 'direction-ar' : 'direction-en']">
    <div class='child flex-child' [ngClass]="[arLang ? 'order-2' : 'order-1']">
        <div class="Copyright-2019-Coty-Inc-All-Rights-Reserved"
        [ngClass]="{'cairo': arLang, 'float-right': arLang}"
       [innerHtml]="'footer.copyright' | translate">
      </div>
    </div>
    <div class='child flex-child' #drawMechanics [ngClass]="[arLang ? 'order-1 ' : 'order-2']">
        <div class="Terms-Conditions-Privacy-Policy-Cookie-Po" [ngClass]="{'float-right': !arLang}">
        <span [ngClass]="[arLang ? 'cairo-font' : '']" routerLink="/terms-conditions" class="terms-link">{{ 'footer.term_conditions' | translate }}</span>
        <span [ngClass]="[arLang ? 'cairo-font mr-20' : 'ml-20']" class="terms-link" routerLink="/privacy-policy">{{ 'footer.privacy_policy' | translate }}</span>
        <!-- <span [ngClass]="{'cairo-font': arLang}">{{ 'footer.cookie_policy' | translate }}</span> -->
      </div>
    </div>
  </div>
</footer>
