footer {
  padding: 25px 100px;
}

footer {
  /* margin-top: 5rem; */
}

.flex-parent {
  display: flex;
}

.flex-child {
  flex: 1;
}

.child {
  width: 50%;
}

.terms-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.terms-link {
  outline: none;
  box-shadow: none;
}

.direction-ar {
  flex-direction: row-reverse;
}

.fixed-bottom {
  z-index: 1;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.Copyright-2019-Coty-Inc-All-Rights-Reserved {
  font-family: Avenir;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3e1f0a;
}

.Terms-Conditions-Privacy-Policy-Cookie-Po {
  font-family: Avenir;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #40200b;
}

@media (max-width: 768px) and (min-width: 426px) {

  .Copyright-2019-Coty-Inc-All-Rights-Reserved,
  .Terms-Conditions-Privacy-Policy-Cookie-Po {
    text-align: center;
    font-size: 20px;
  }

  .ml-20 {
    margin-left: 20px;
  }

  footer {
    padding: 25px 0;
  }

  .direction-ar {
    flex-direction: column-reverse;
  }

  .direction-en {
    flex-direction: column;
  }

  .direction-ar .order-2 {
    order: 1;
  }

  .child {
    width: 100%;
  }

  .float-right {
    margin-top: 2rem;
    float: unset !important;
  }
}

@media (max-width: 426px) {
  .Copyright-2019-Coty-Inc-All-Rights-Reserved,
  .Terms-Conditions-Privacy-Policy-Cookie-Po {
    font-size: 15px;
    text-align: center;
  }

  .mr-20 {
    margin: 0 30px;
  }

  footer {
    padding: 25px 20px;
  }

  .direction-ar {
    flex-direction: column-reverse;
  }

  .direction-en {
    flex-direction: column;
  }

  .direction-ar .order-2 {
    order: 1;
  }

  .direction-ar .mr-20 {
    margin: 0 21px;
  }

  .float-right {
    float: unset !important;
    margin-top: 1.5rem;
  }

  .child {
    width: 100%;
  }
}

@media(max-width: 375px) {

  .Copyright-2019-Coty-Inc-All-Rights-Reserved,
  .Terms-Conditions-Privacy-Policy-Cookie-Po {
    font-size: 14px;
  }

  .float-right {
    margin-top: 1rem;
  }

  .mr-20 {
    margin: 0 20px;
  }

  .d-rtl {
    padding-left: 10px;
    padding-right: 10px;
  }

  .direction-ar .mr-20 {
    margin: 0 18px;
  }
}

@media (max-width: 320px) {

  .Copyright-2019-Coty-Inc-All-Rights-Reserved,
  .Terms-Conditions-Privacy-Policy-Cookie-Po {
    font-size: 12px;
  }

  .mr-20 {
    margin: 0 15px;
  }

  .direction-ar .mr-20 {
    margin: 0 13px;
  }
}
