
.Title-text-style-EN,
.Title-text-style-AR {
  text-align: center;
  margin-top: 3rem;
}

.Terms-text-EN {
  margin: 2rem auto;
  font-size: 20px;
  color: #010101;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-family: Avenir;
  font-stretch: normal;
  letter-spacing: normal;
}
.Terms-text-AR {
  margin: 2rem auto;
  font-size: 20px;
  color: #010101;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-family: Cairo;
  font-stretch: normal;
  letter-spacing: normal;
}
