
<app-header></app-header>
<div class="container" [ngClass]="[arLang ? 'd-rtl text-right' : '']">
  <div class="row">
    <div class="col-md-12" [ngClass]="[arLang ? 'Title-text-style-AR' : 'Title-text-style-EN']">
      <span [innerHtml]="'terms_conditions.terms_conditions' | translate "></span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" [ngClass]="[arLang ? 'Terms-text-AR' : 'Terms-text-EN']">
      <span [innerHtml]="'terms_conditions.terms_text' | translate "></span>
    </div>
  </div>
</div>
<app-footer></app-footer>

