<header class="bg-gradient">
    <nav class="navbar navbar-dark "
      [ngClass]="{'navBar_custom fixed-top' : !isNavbarCollapsed, 'bg-img' : starsBackground, 'arabic-text': arLang }">
      <div id="bj-header-left">

        <a class="navbar-brand" href="#">
          <img src="assets/imgs/logo-bourjois-colored.png" class="img-responsive-logo" alt="Bourjois - Logo" />
        </a>
      </div>

        <div id="bj-header-right" *ngIf="!arLang">
          <span class="EN-AR-Arabic">
            <span (click)="change('ar')">{{ 'header.lang' | translate }}</span>
          </span>
          <button class="navbar-toggler hidden-sm-up" type="button" (click)="addClass();isNavbarCollapsed = !isNavbarCollapsed"
            data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
            <img *ngIf="isNavbarCollapsed" src="assets/icons/burger-menu.png" class="img-responsive" alt="">
            <img *ngIf="!isNavbarCollapsed" src="assets/icons/close-menu.png" class="img-responsive" alt="">
          </button>
        </div>
        <div id="bj-header-right" *ngIf="arLang">
            <button class="navbar-toggler hidden-sm-up" type="button" (click)="addClass();isNavbarCollapsed = !isNavbarCollapsed"
            data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
            <img *ngIf="isNavbarCollapsed" src="assets/icons/burger-menu.png" class="img-responsive" alt="">
            <img *ngIf="!isNavbarCollapsed" src="assets/icons/close-menu.png" class="img-responsive" alt="">
          </button>
          <span class="EN-AR">
            <span (click)="change('en')">{{ 'header.lang' | translate }}</span>
          </span>
        </div>

      <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
        <ul class="navbar-nav mr-auto" [ngClass]="[ arLang ? 'HOME-ENTER-DRAW-DRAW-DATES-PRIZES-DRAW-WINNERS-AR' : 'HOME-ENTER-DRAW-DRAW-DATES-PRIZES-DRAW-WINNERS-EN']">
          <li class="nav-item dropdown"  data-toggle="collapse" (click)="isNavbarCollapsed = !isNavbarCollapsed" ngbDropdown>
            <a class="nav-link dropdown-toggle" (click)="addClass();" href="#" ngbDropdownToggle>{{ 'header.home' | translate }}</a>
          </li>
          <li class="nav-item dropdown" (click)="isNavbarCollapsed = !isNavbarCollapsed" ngbDropdown>
            <a class="nav-link dropdown-toggle" (click)="addClass();" routerLink="/enter-draw" ngbDropdownToggle>{{ 'header.enter_draw' | translate }}</a>
          </li>
          <li class="nav-item dropdown" (click)="isNavbarCollapsed = !isNavbarCollapsed" ngbDropdown>
            <a class="nav-link dropdown-toggle" (click)="addClass();" routerLink="/draw-details"  ngbDropdownToggle>{{ 'header.draw_dates_prizes' | translate }}</a>
          </li>
          <li class="nav-item dropdown" (click)="isNavbarCollapsed = !isNavbarCollapsed" ngbDropdown>
            <a class="nav-link dropdown-toggle" (click)="addClass();" routerLink="/draw-winners" ngbDropdownToggle>{{ 'header.draw_winners' | translate }}</a>
          </li>
          <li class="nav-item dropdown" (click)="isNavbarCollapsed = !isNavbarCollapsed" ngbDropdown>
            <a class="nav-link dropdown-toggle" (click)="addClass();" routerLink="/terms-conditions" ngbDropdownToggle>{{ 'header.terms_conditions' | translate }}</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
