header {
  /* overflow-x: hidden; */
}

.navbar {
  padding-top: 100px;
  padding-left: 100px;
}

body {
  position: fixed;
}
.navbar-toggler {
  padding-right: 100px;
}

#bj-header-left {
  top: 40px;
  position: absolute;
}

#bj-header-right {
  top: 40px;
  right: 0%;
  position: absolute;
}

.nav-link {
  padding: 1.5rem 1rem;
}

/**** Arabic CSS ****/

.arabic-text #bj-header-right {
  right: unset;
}

.arabic-text #bj-header-left {
  right: 0;
  padding-right: 100px;
}

.arabic-text .collapse {
  right: 0;
  padding-right: 100px;
}

.arabic-text .navbar-toggler {
  padding-right: 40px;
}

/**** Arabic CSS ****/

.bg-img {
  background-image: url('/assets/imgs/stars.png');
  background-repeat: repeat;
  background-size: 100%;
  background-position: center;
}

.navbar a {
  color: #ce0058;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #ce0058;
}

.navBar_custom {
  background-color: white;
  width: 100%;
  top: 0;
  height: 100%;
}

.navBar_custom #bj-header-left,
.navBar_custom #bj-header-right {
  top: 40px;
}

.HOME-ENTER-DRAW-DRAW-DATES-PRIZES-DRAW-WINNERS-EN {
  font-size: 30px;
  text-align: left;
  /* line-height: 1.43; */
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  font-family: BauerBodoniStd-Roman;
}

.HOME-ENTER-DRAW-DRAW-DATES-PRIZES-DRAW-WINNERS-AR {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.88;
  text-align: right;
  font-family: Cairo;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.navbar-dark .navbar-toggler {
  border-color: transparent;
}

.navbar-brand {
  margin-right: 0 !important;
}

.EN-AR {
  font-size: 20px;
  color: #ce0058;
  text-align: left;
  font-style: normal;
  line-height: normal;
  font-family: Avenir;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.EN-AR-Arabic {
  font-size: 20px;
  text-align: left;
  color: #ce0058;
  font-weight: bold;
  font-family: Cairo;
  margin-right: 40px;
  font-style: normal;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.EN-AR span,
.EN-AR-Arabic span {
  cursor: pointer;
}

.img-responsive-logo {
  width: 50%;
}

.arabic-text .navbar-brand {
  text-align: right;
}

@media (max-width: 1024px) and (min-width: 856px) {
  .navbar {
    padding-top: 13%;
  }
}

@media (max-width: 856px) and (min-width: 768px) {
  .navbar {
    padding-top: 15%;
  }
}

@media (max-width: 768px) and (min-width: 425px) {
  .bg-img {
    background-image: url('/assets/imgs/stars-mobile.png');
    background-position: center;
  }

  .navbar {
    padding-top: 20%;
    padding-left: 70px;
  }
  .navbar-toggler {
    padding-right: 70px;
  }

  .arabic-text #bj-header-left {
    padding-right: 70px;
  }

  .arabic-text .collapse {
    padding-right: 70px;
  }

}

@media (max-width: 576px) {
  .navbar {
    padding-left: 20px;
    padding-top: 20%;
  }

  .navbar-toggler {
    padding-right: 20px;
  }

  .arabic-text #bj-header-left {
    padding-right: 20px;
    right: 0;
  }

  .arabic-text .collapse {
    padding-right: 40px;
  }

  .arabic-text .navbar-toggler {
    padding-right: 12px;
    padding-left: 0;
  }

  .img-responsive-logo {
    width: 35%;
  }
  .img-responsive {
    width: 80%;
  }

  .EN-AR {
    font-size: 16px;
    margin-right: 25px;
  }

  .EN-AR-Arabic {
    font-size: 16px;
    margin-right: 25px;
  }

  #bj-header-left,
  #bj-header-right,
  .navBar_custom #bj-header-left,
  .navBar_custom #bj-header-right {
    top: 30px;
  }

  .HOME-ENTER-DRAW-DRAW-DATES-PRIZES-DRAW-WINNERS-EN {
    font-size: 25px;
    margin-left: 20px;
  }

  .HOME-ENTER-DRAW-DRAW-DATES-PRIZES-DRAW-WINNERS-AR {
    font-size: 23px;
  }
}

@media(max-width:375px) {
  .EN-AR-Arabic {
    font-size: 16px;
    margin-right: 5px;
  }
}

@media (max-width: 320px) {
  .navbar {
    padding-top: 30%;
  }

  .HOME-ENTER-DRAW-DRAW-DATES-PRIZES-DRAW-WINNERS-EN {
    font-size: 20px;
    margin-left: 18px;
  }

  .HOME-ENTER-DRAW-DRAW-DATES-PRIZES-DRAW-WINNERS-AR {
    font-size: 20px;
    margin-right: 18px;
  }

  .img-responsive-logo {
    width: 35%;
  }

  .img-responsive {
    width: 75%;
  }

  .EN-AR-Arabic {
    font-size: 14px;
    margin-right: 0;
  }
}

@media(max-height: 540px) {
  .nav-link {
    padding: 4% 1rem;
  }
  .HOME-ENTER-DRAW-DRAW-DATES-PRIZES-DRAW-WINNERS-EN,
  .HOME-ENTER-DRAW-DRAW-DATES-PRIZES-DRAW-WINNERS-AR {
    font-size: 20px;
  }
}

@media(max-height: 750px) and (min-height: 540px){
  .nav-link {
    padding: 4% 1rem;
  }
}

@media(min-height:1000px) and (max-height: 1200px)  {
  .navbar {
    padding-top: 23%;
  }
}
@media(min-height:1200px) and (max-height: 1400px)  {
  .navbar {
    padding-top: 29%;
  }
}
@media(min-height:1400px) {
  .navbar {
    padding-top: 9%;
  }
}
@media(min-width: 2000px)  {
  .navbar {
    padding-top: 9%;
  }
}
