<app-header></app-header>
<section id="draw-details" class="bg-gradient" [ngClass]="{'d-rtl': arLang}">
  <div class="container">
    <div class="row">
      <div class="col-md-12" [ngClass]="[arLang ? ' Title-text-style-AR' : ' Title-text-style-EN']">
        <span [innerHtml]="'draw_details.draw_dates_prizes' | translate"></span>
      </div>
    </div>
  </div>

  <div id="bg-img-wrap">
    <div class="container pd-bottom">

      <div class="row">
        <div class="col-md-12" [ngClass]="[arLang ? ' SubTitle-text-style-AR' : ' SubTitle-text-style-EN']">
          <span [innerHtml]="'draw_details.grand_prize' | translate"></span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 diamond-img-wrap">
          <img src="assets/imgs/diamond-stars.png" class="img-responsive" alt="Diamond">
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-sm-9"
          [ngClass]="[arLang ? 'grand-prize-winners-title-AR' : 'grand-prize-winners-title']">
          <span [innerHtml]="'draw_details.grand_prize_announce_winners' | translate"></span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-sm-9" [ngClass]="[arLang ? ' prize-distributed-AR' : ' prize-distributed']">
          <span [innerHtml]="'draw_details.prize_distributed' | translate"></span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-sm-12 mr-auto">

          <div [ngClass]="[arLang ? 'COUNTRIES-AR' : 'COUNTRIES-EN']">
            <span [innerHtml]="'draw_details.winners_countries' | translate"></span>
          </div>
          <div [ngClass]="[arLang ? 'WINNERS-AR' : 'WINNERS-EN']">
            <span [innerHtml]="'draw_details.grand_prize_winners' | translate"></span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 DRAW-WINNERS-DIV">
          <button *ngIf="!arLang" class="Rectangle-EN" routerLink="/draw-winners">
            <span>
              {{'draw_details.draw_winners' | translate}}
              <i class="fa fa-angle-right"></i>
            </span>
          </button>
          <button class="Rectangle-AR" routerLink="/draw-winners" *ngIf="arLang">
            <span class="button-txt">
              {{'draw_details.draw_winners' | translate}}
              <i class="fa fa-angle-left"></i>
            </span>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 SECOND-TIER-PRIZE "
          [ngClass]="[arLang ? ' SubTitle-text-style-AR' : ' SubTitle-text-style-EN']">
          <span [innerHtml]="'draw_details.other_great_prizes' | translate"></span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 diamond-img-wrap">
          <img src="assets/imgs/box.png" class="img-responsive" alt="Box">
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-sm-9"
          [ngClass]="[arLang ? 'other-prizes-winners-title-AR' : 'other-prizes-winners-title']">
          <span [innerHtml]="'draw_details.other_great_prizes_announce_winners' | translate"></span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8" [ngClass]="[arLang ? ' prize-distributed-AR' : ' prize-distributed']">
          <span [innerHtml]="'draw_details.prize_distributed' | translate"></span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-sm-12 mr-auto">
          <div id="countries" [ngClass]="[arLang ? 'COUNTRIES-AR' : 'COUNTRIES-EN']">
            <span [innerHtml]="'draw_details.winners_countries' | translate"></span>
          </div>
          <div id="winners" [ngClass]="[arLang ? 'WINNERS-AR' : 'WINNERS-EN']">
            <span [innerHtml]="'draw_details.other_great_prizes_winners' | translate"></span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 DRAW-WINNERS-DIV">
          <button *ngIf="!arLang" class="Rectangle-EN" routerLink="/draw-winners">
            <span>
              {{'draw_details.draw_winners' | translate}}
              <i class="fa fa-angle-right"></i>
            </span>
          </button>
          <button class="Rectangle-AR" routerLink="/draw-winners" *ngIf="arLang">
            <span class="button-txt">
              {{'draw_details.draw_winners' | translate}}
              <i class="fa fa-angle-left"></i>
            </span>
          </button>
        </div>
      </div>
    </div>


    <app-footer [bgColor]="false"></app-footer>
  </div>
</section>
