#bg-img-wrap {
  background-image: url('/assets/imgs/eiffel-towers.png');
  background-position: 67% bottom;
  background-repeat: no-repeat;
  background-size: 95%;
}

.Title-text-style-EN {
  text-align: center;
}

.pd-bottom {
  padding-bottom: 10%;
}

.diamond-img-wrap {
  text-align: center;
}

.img-responsive {
  width: 30%;
}

.mr-auto {
  margin: 20px auto 0;
}

.grand-prize-winners-title,
.other-prizes-winners-title {
  font-family: Avenir;
  font-size: 25px;
  margin: 0 auto;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
  color: #010101;
}

.grand-prize-winners-title-AR,
.other-prizes-winners-title-AR {
  font-family: Cairo;
  font-size: 27px;
  margin: 0 auto;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
  color: #010101;
}

.announce-winners-div {
  width: 38%;
  margin: 0 auto;
}

.prize-distributed {
  font-family: Avenir;
  margin: 15px auto 5px;
  font-size: 27px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: normal;
  text-align: center;
  color: #010101;
}

.prize-distributed-AR {
  font-family: Cairo;
  margin: 15px auto 5px;
  font-size: 27px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: normal;
  text-align: center;
  color: #010101;
}

.flex-parent {
  margin: 20px auto 0;
  display: flex;
}

.flex-child {
  flex: 1;
}

.order-1 {
  width: 40%;
}

.order-2 {
  width: 60%;
}

.COUNTRIES-EN {
  font-family: Avenir;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #010101;
  text-align: left;
  display: inline-block;
  text-transform: uppercase;
}

.WINNERS-EN {
  font-family: Avenir;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  float: right;
  text-align: right;
  color: #000000;
}

.COUNTRIES-AR {
  font-size: 20px;
  color: #010101;
  font-family: Cairo;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  float: right;
  text-align: right;
  letter-spacing: normal;
  text-transform: uppercase;
}

.WINNERS-AR {
  float: left;
  font-family: Cairo;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #000000;
}

.DRAW-WINNERS {
  font-family: Avenir;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}

.DRAW-WINNERS-DIV {
  margin-top: 20px;
  text-align: center;
}

.SECOND-TIER-PRIZE {
  margin-top: 100px;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .Title-text-style-EN {
    font-size: 120px;
  }

  .SubTitle-text-style-EN {
    font-size: 50px;
  }

  .grand-prize-winners-title,
  .other-prizes-winners-title,
  .grand-prize-winners-title-AR,
  .other-prizes-winners-title-AR {
    font-size: 23px;
  }

  .COUNTRIES-EN,
  .WINNERS-EN,
  .WINNERS-AR,
  .COUNTRIES-AR {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  #bg-img-wrap {
    background-position: 62% 0%;
    background-size: 111%;
  }

  .mr-auto {
    padding-left: 0;
    padding-right: 0;
  }

  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 81%;
  }

  .Title-text-style-EN {
    font-size: 160px !important;
  }

  .grand-prize-winners-title,
  .other-prizes-winners-title,
  .grand-prize-winners-title-AR,
  .other-prizes-winners-title-AR {
    font-size: 20px;
  }

  .COUNTRIES-EN,
  .WINNERS-EN,
  .WINNERS-AR,
  .COUNTRIES-AR {
    font-size: 18px;
  }

  .prize-distributed,
  .prize-distributed-AR {
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  #bg-img-wrap {
    background-image: url('/assets/imgs/eiffel-towers@3x.png');
    background-position: 69% 20%;
    background-size: 140%;
  }

  .col-md-6 {
    -webkit-box-flex: inherit;
    -ms-flex: inherit;
    flex: inherit;
    max-width: inherit;
  }

  .mr-auto {
    padding-left: 20px;
    padding-right: 20px;
  }

  .Title-text-style-EN {
    font-size: 90px !important;
  }

  .grand-prize-winners-title,
  .other-prizes-winners-title,
  .grand-prize-winners-title-AR,
  .other-prizes-winners-title-AR {
    font-size: 16px;
  }

  .COUNTRIES-EN,
  .WINNERS-EN,
  .WINNERS-AR,
  .COUNTRIES-AR {
    font-size: 14px;
  }

  .img-responsive {
    width: 50%;
    margin: 20px auto;
  }

  .prize-distributed,
  .prize-distributed-AR {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .mr-auto {
    padding-left: 10px;
    padding-right: 10px;
  }

  .Title-text-style-EN {
    font-size: 75px !important;
  }

  .grand-prize-winners-title,
  .other-prizes-winners-title,
  .grand-prize-winners-title-AR,
  .other-prizes-winners-title-AR {
    font-size: 13px;
  }

  .COUNTRIES-EN,
  .WINNERS-EN,
  .WINNERS-AR,
  .COUNTRIES-AR {
    font-size: 13px;
  }

  .prize-distributed,
  .prize-distributed-AR {
    font-size: 13px;
  }
}

@media(min-width:1500px) and (max-width:1860px) {
  #bg-img-wrap {
    background-size: 75%;
  }
}

@media(min-width:1861px) and (max-width:2100px) {
  #bg-img-wrap {
    background-size: 65%;
  }
}

@media(min-width:2100px) {
  #bg-img-wrap {
    background-position: 60% bottom;
    background-size: 50%;
  }
}
