.Title-text-style-EN,
.Title-text-style-AR {
  margin-top: 3rem !important;
}

.policy-text-EN {
  margin: 2rem auto;
  font-size: 20px;
  color: #010101;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-family: Avenir;
  font-stretch: normal;
  letter-spacing: normal;
}
.policy-text-AR {
  margin: 2rem auto;
  font-size: 18px;
  color: #010101;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-family: Cairo;
  font-stretch: normal;
  letter-spacing: normal;
}
