<app-header></app-header>
<div class="container" [ngClass]="[arLang ? 'd-rtl text-right' : '']">
  <div class="row">
    <div class="col-md-12" [ngClass]="[arLang ? 'Title-text-style-AR' : 'Title-text-style-EN']">
      <span [innerHtml]="'privacy_policy.privacy_policy' | translate "></span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" [ngClass]="[arLang ? 'policy-text-AR' : 'policy-text-EN']">

        <span [innerHtml]="'privacy_policy.privacy_policy_text' | translate "></span>
    </div>
  </div>
</div>
<app-footer></app-footer>

