<app-header></app-header>
<section id="enter-draw" class="bg-gradient" [ngClass]="{'d-rtl': arLang}">
  <ng-container *ngIf="!winners">

    <div id="bg-img-wrap">
      <div class="container height-75">
        <div class="row">
          <div class="col-md-12 mb-0" [ngClass]="[arLang ? ' Title-text-style-AR' : ' Title-text-style-EN']">
            <span class="" [innerHtml]="'draw_winners.draw_winners' | translate"></span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 diamond-img-wrap">
            <img src="assets/imgs/diamond-stars.png" class="img-responsive" alt="Diamond">
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 col-sm-12 " [ngClass]="[arLang ? 'no-winners-yet-please-come-back-on-the-31st-of-december-to-fi-AR' : 'no-winners-yet-please-come-back-on-the-31st-of-december-to-fi']">
              <span class="" [innerHtml]="'draw_winners.no_winners' | translate"></span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 col-sm-12 " [ngClass]="[arLang ? 'no-winners-yet-please-come-back-on-the-31st-of-december-to-fi-AR' : 'no-winners-yet-please-come-back-on-the-31st-of-december-to-fi']">
            <span class="" [innerHtml]="'draw_winners.please_come_back' | translate"></span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 col-sm-12 " [ngClass]="[arLang ? 'no-winners-yet-please-come-back-on-the-31st-of-december-to-fi-AR' : 'no-winners-yet-please-come-back-on-the-31st-of-december-to-fi']">
            <span class="" [innerHtml]="'draw_winners.you_havent_entered_yet' | translate"></span>
          </div>
        </div>

        <!-- <div class="row" *ngIf="!arLang">
          <div class="col-md-8 col-sm-12  text-style-voila">
            <span class="" [innerHtml]="'draw_winners.et_voila' | translate"></span>
          </div>
        </div> -->

        <div class="row">
          <div class="col-md-8 col-sm-12 text-align-center">
              <button  *ngIf="!arLang" class="Rectangle-EN" routerLink="/enter-draw">
                <span>
                  {{'draw_winners.enter_draw' | translate}}
                  <i class="fa fa-angle-right"></i>
                </span>
              </button>
              <button class="Rectangle-AR" routerLink="/enter-draw" *ngIf="arLang">
                <span class="button-txt">
                  {{'draw_winners.enter_draw' | translate}}
                  <i class="fa fa-angle-left"></i>
                </span>
              </button>
          </div>
        </div>

        <div class="row" *ngIf="!arLang">
            <div class="col-md-8 col-sm-12  text-style-voila">
              <span class="" [innerHtml]="'draw_winners.et_voila' | translate"></span>
            </div>
          </div>

      </div>

      <app-footer [bgColor]="false"></app-footer>
    </div>

  </ng-container>

  <section *ngIf="winners" id="winners">

    <div class="container">
      <div class="row">
        <div class="col-md-12" [ngClass]="[arLang ? ' Title-text-style-AR' : ' Title-text-style-EN']">
          <span class="" [innerHtml]="'draw_winners.draw_winners' | translate"></span>
        </div>
      </div>
    </div>

    <div id="bg-winners-img-wrap">
      <div class="container pd-bottom">

        <div class="row">
          <div class="col-md-12 mt-4" [ngClass]="[arLang ? 'SubTitle-text-style-AR' : 'SubTitle-text-style-EN']">
            <span class="" [innerHtml]="'draw_winners.grand_prize' | translate"></span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 diamond-img-wrap">
            <img src="assets/imgs/diamond-stars.png" class="img-responsive" alt="Diamond">
          </div>
        </div>

        <div [ngClass]="[arLang ? 'winners-list-AR' : 'winners-list']" *ngFor="let winner of firstWinnersList">
          <div class="row">
          <div class="col-md-6 col-sm-12 text-style-1 m-auto">
              {{ arLang ? winner.countryAR : winner.country }}
          </div>
        </div>
          <div class="row" *ngFor="let winnerName of winner.winners">
            <div class="col-md-6 col-sm-12 m-auto">
              {{ winnerName }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mt-5"  [ngClass]="[arLang ? 'SubTitle-text-style-AR' : 'SubTitle-text-style-EN']">
            <span class="" [innerHtml]="'draw_winners.second_tier_prize' | translate"></span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 diamond-img-wrap">
            <img src="assets/imgs/box.png" class="img-responsive" alt="Box">
          </div>
        </div>

        <div [ngClass]="[arLang ? 'winners-list-AR' : 'winners-list']" *ngFor="let winner of secondWinnersList">
            <div class="row">
            <div class="col-md-6 col-sm-12 m-auto text-style-1">
              {{ arLang ? winner.countryAR : winner.country }}
            </div>
          </div>
            <div class="row" *ngFor="let winnerName of winner.winners">
              <div class="col-md-6 col-sm-12 m-auto">
                {{ winnerName }}
              </div>
            </div>
          </div>


      </div>


      <app-footer [bgColor]="false"></app-footer>
    </div>

  </section>
</section>
