#bg-img-wrap {
  background-image: url('/assets/imgs/eiffel-tower.png'), url('/assets/imgs/diamond.png');
  background-position: bottom left, 108% 108%;
  background-repeat: no-repeat;
  background-size: 30%, 30%;
}

#bg-winners-img-wrap {
  background-image: url('/assets/imgs/eiffel-towers.png');
  background-position: 90% center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#winners {
  background-image: url('/assets/imgs/stars.png');
  background-position: center;
  background-repeat: repeat;
  background-size: 100%;
}

.Title-text-style-EN {
  text-align: center;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.Rectangle-EN {
  margin-top: 0 !important;
}

.diamond-img-wrap {
  margin: 2rem auto 2rem;
  text-align: center;
}

.text-align-center {
  margin: 2rem auto;
  text-align: center;
}

.img-responsive {
  width: 40%;
}

.no-winners-yet-please-come-back-on-the-31st-of-december-to-fi {
  font-family: Avenir;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  margin: 1rem auto;
  letter-spacing: normal;
  text-align: center;
  color: #010101;
}

.no-winners-yet-please-come-back-on-the-31st-of-december-to-fi-AR {
  font-family: Cairo;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  margin: 1rem auto;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.text-style-voila {
  font-size: 55px;
  margin: 2rem auto;;
  text-align: center;
  font-weight: normal;
  font-family: BourjoisParis-Script;
}

.winners-list {
  font-family: Avenir;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: #010101;
  margin-bottom: 40px;
}

.winners-list-AR {
  font-family: Cairo;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: #010101;
  margin-bottom: 40px;
}

.winners-list .text-style-1,
.winners-list-AR .text-style-1 {
  font-weight: 900;
  display: block;
  line-height: normal;
  color: #ce0058;
}

@media (max-width: 1025px) {
  .height-75 {
    height: auto;
    padding-bottom: 100px;
  }

  #bg-img-wrap {
    background-position: -10% 100%, 111% 107%;
    background-size: 35%, 40%;
  }
}

@media (max-width: 768px) {
  #bg-img-wrap {
    background-image: url('/assets/imgs/eiffel-tower@2x.png'), url('/assets/imgs/diamond.png');
    background-size: 40%, 40%;
    background-position: -20% bottom, 111% 102%;
  }

  #bg-winners-img-wrap {
    background-image: url('/assets/imgs/eiffel-towers-mobile.png');
    background-position: 71% 41%;
    background-size: 149%;
  }

  .no-winners-yet-please-come-back-on-the-31st-of-december-to-fi,
  .no-winners-yet-please-come-back-on-the-31st-of-december-to-fi-AR {
    font-size: 23px;
  }

  .Title-text-style-EN {
    font-size: 160px;
  }

  .img-responsive {
    width: 70%;
  }

  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 81%;
  }

  .winners-list {
    font-size: 27px;
  }
}

@media (max-width: 425px) {
  .height-75 {
    padding-bottom: 10px;
  }

  .pd-top {
    padding-top: 100px;
  }

  #bg-img-wrap {
    background-size: 63%, 70%;
    background-position: -70% 99%, 144% 99%;
  }

  #bg-winners-img-wrap {
    background-position: 71% 41%;
    background-size: 149%;
  }

  .no-winners-yet-please-come-back-on-the-31st-of-december-to-fi,
  .no-winners-yet-please-come-back-on-the-31st-of-december-to-fi-AR {
    font-size: 18px;
  }

  .text-style-voila {
    margin: 0 auto;
    font-size: 45px;
  }

  .col-md-6 {
    -webkit-box-flex: inherit;
    -ms-flex: inherit;
    flex: inherit;
    max-width: inherit;
  }

  .winners-list {
    font-size: 23px;
  }
}

@media (max-width: 375px) {

  .no-winners-yet-please-come-back-on-the-31st-of-december-to-fi,
  .no-winners-yet-please-come-back-on-the-31st-of-december-to-fi-AR {
    font-size: 16px;
  }

  .winners-list {
    font-size: 19px;
  }
}
