section#root {
  display: block;
  height:100vh;
  width:100vw;
  box-sizing:border-box;
}

/* html,body{ overflow-x:hidden !important; } */

html, body {
  position:relative;
  overflow-x:hidden;
}

