.Eiffel-Tower {
  position: relative;
}

section {
  overflow-y: scroll !important;
}

.bg-img {
  position: relative;
  background-image: url('/assets/imgs/stars.png'),url('/assets/imgs/eiffel-tower-v3.png'), linear-gradient(to right, #f9d1d8, #fad8df, #fcdee5, #fde5eb, #feecf1);
  background-position: center 50%, bottom center;
  background-repeat: repeat, no-repeat, no-repeat;
  background-size: cover, 14%, 100%;
}

.Title-text-style-EN {
  padding-top: 5%;
    padding-bottom: 3%;
    text-align: center;
}
section#home-section-2 {
  padding: 5% 0;
  background-repeat: no-repeat;
  background-size: 35%, 35%;
}

.width-50 {
  width: 25%;
  margin-top: 10px;
  padding: 10px 0px;
}

.width-AR-50 {
  width: 25%;
  margin-top: 10px;
  padding: 10px 0px;
}

.height-vh  {
  display: block;
  height:100vh;
  width:100vw;
  box-sizing:border-box;
}

.list {
  position: relative;
}

.bg-img-right {
  background-image: url('/assets/imgs/diamond-home-section-2-ar.png');
  background-position: -10% 124%;
}

.bg-img-left {
  background-image: url('/assets/imgs/diamond-section-2.png');
  background-position: 114% 110%;
}

.get-the-chance-to-win-a-1-carat-diamond-and-more-great-prizes {
  font-size: 25px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-family: Avenir;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-transform: uppercase;
}

.get-the-chance-to-win-a-1-carat-diamond-and-more-great-prizes-AR {
  font-family: Cairo;
  line-height: 1.2;
  font-size: 30px;
  direction: rtl;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

.diamond-img-wrap {
  text-align: center;
}

.learn-more-about-OUR-DIAMOND-DRAW {
  cursor: pointer;
  font-size: 14px;
  color: #ce0058;
  font-weight: 900;
  font-style: normal;
  font-family: Avenir;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.learn-more-about-OUR-DIAMOND-DRAW-AR {
  direction: rtl;
  cursor: pointer;
  font-size: 16px;
  color: #ce0058;
  font-weight: 900;
  font-family: Cairo;
  font-style: normal;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.fa-angle-down {
  font-size: 20px;
}

.flex-parent {
  display: flex;
}

.flex-child {
  flex: 1;
}

.child {
  width: 50%;
}

.Oh-La-La-MakeUp {
  object-fit: contain;
}

.Draw-Mechanics {
  font-family: BauerBodoniStd-Roman;
  font-size: 63px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 40px;
  color: #ce0058;
}

.Draw-Mechanics-Ar {
  font-family: Cairo;
  font-size: 50px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  margin-bottom: 40px;
  letter-spacing: normal;
  text-align: center;
  color: #ce0058;
}

.Draw-Mechanics-List-En {
  font-family: Avenir;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #010101;
}

.Draw-Mechanics-List-Ar {
  font-family: Cairo;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #010101;
}


.text-align-center {
  text-align: center;
}

.Ellipse-2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  margin: 1% 5px 0 0;
  display: inline-block;
  background-color: #ce0058;
}

.Draw-Mechanics-List-Ar .Ellipse-2 {
  margin-right: 0;
  margin-top: 15px;
}

.Draw-Mechanics-List-En .list-text {
  margin-bottom: 5%;
  margin-left: 5%;
}

.Draw-Mechanics-List-Ar .list-text {
  direction: rtl;
  margin-right: 5%;
  margin-bottom: 5%;
}

.diamond-img-responsive,

.img-responsive {
  width: 32%;
  margin: 0 auto;
  display: block;
}

@media (max-width: 1025px) and (min-width: 769px),
(min-width:1024px) and (max-height:780px)  {
  .diamond-img-responsive {
    width: 25%;
  }
}

@media(min-width:1300px) {
  .width-50{
    width: 19%;
  }
  .width-AR-50 {
    width: 20%;
  }
}

@media(max-width:990px) and (min-width:768px) {
  .width-50{
    width: 29%;
  }
  .width-AR-50 {
    width: 35%;
  }
}

@media (max-width: 768px) and (min-width: 426px) {
  /* .bg-img {
    background-size: cover, 145%, 100%;
  } */

  .reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  .reverse button:nth-of-type(1) {
    order: 1;
  }

  .reverse button:nth-of-type(2) {
    order: 2;
  }

  .reverse-AR {
    display: flex;
    flex-direction: column-reverse;
  }

  .reverse-AR button:nth-of-type(1) {
    order: 2;
  }

  .reverse-AR button:nth-of-type(2) {
    order: 1;
  }

  .mobile-mt {
    margin-top: 3rem;
  }

  .height-vh {
    height: auto;
  }

  .Title-text-style-EN {
    margin-bottom: 0 !important;
  }

  section#home-section-2 {
    background-image: none;
  }

  .get-the-chance-to-win-a-1-carat-diamond-and-more-great-prizes-AR {
    margin-top: 0;
    text-align: center;
    font-size: 30px;
  }

  .text-right {
    text-align: center !important;
  }

  .width-AR-50 {
    width: 50%;
    display: block;
    margin: 7px auto !important;
  }


div.Eiffel-Tower {
   background-image: url('/assets/imgs/stars.png'),url('/assets/imgs/EiffelTowerHomePageM.png'), linear-gradient(to right, #f9d1d8, #fad8df, #fcdee5, #fde5eb, #feecf1);;
   background-position: center 50%, bottom center;
   padding-bottom: 25%;
   background-repeat: repeat, no-repeat;
   background-size: cover, 34%;
}

  .width-50 {
    width: 40%;
    display: block;
    margin: 7px auto !important;
  }
  .Rectangle-Mechanics-AR,
  .Rectangle-Mechanics-EN {
    margin-bottom: 30px !important;
  }

  .home-section-1-top {
    margin-top: 1rem !important;
  }

  .direction-reverse {
    flex-direction: column-reverse;
  }

  .direction-column {
    flex-direction: column;
  }

  .child {
    width: 100%;
  }

  .Draw-Mechanics-List-En {
    font-size: 20px;
  }

  .Draw-Mechanics-List-Ar {
    font-size: 20px;
  }

  .diamond-img-responsive,
  .img-responsive  {
    width: 50%;
    margin: 0 auto;
    display: block;
  }

  .mr-10 {
    margin-top: 20px;
  }

  .Draw-Mechanics {
    font-size: 52px;
  }

  .Draw-Mechanics-Ar {
    font-size: 70px;
    text-align: center;
  }
}

@media (max-width: 576px) {

  .reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  .reverse button:nth-of-type(1) {
    order: 1;
  }

  .reverse button:nth-of-type(2) {
    order: 2;
  }

  .reverse-AR {
    display: flex;
    flex-direction: column-reverse;
  }

  .reverse-AR button:nth-of-type(1) {
    order: 2;
  }

  .reverse-AR button:nth-of-type(2) {
    order: 1;
  }

  .mobile-mt {
    margin-top: 3rem;
  }

  .width-AR-50 {
    width: 63%;
    display: block;
    padding: 9px 0px;
    margin: 6px auto !important;
  }

  .width-50 {
    width: 50%;
    display: block;
    padding: 9px 0px;
    margin: 6px auto !important;
  }

  .Rectangle-Mechanics-AR,
  .Rectangle-Mechanics-EN {
    margin-bottom: 30px !important;
  }

  .bg-img {
    background-size: cover, 32%, 100%;
  }

  .learn-more-about-OUR-DIAMOND-DRAW {
    font-size: 11px;
    padding-top: 10px;
  }

.learn-more-about-OUR-DIAMOND-DRAW-AR {
  padding: 6px 40px 10px;
  font-size: 11px;
}

  .diamond-img-responsive {
    width: 60%;
    margin: 0 auto;
    display: block;
  }

  .img-responsive {
    width: 65%;
    margin: 0 auto;
    display: block;
  }

  .get-the-chance-to-win-a-1-carat-diamond-and-more-great-prizes-AR,
  .text-right {
    text-align: center !important;
  }

  .height-vh {
    height: auto;
  }

  .home-section-1-top {
    margin-top: 100px;
  }
}

@media (max-width:426px) {
  .direction-reverse {
    flex-direction: column-reverse;
  }
  .direction-column {
    flex-direction: column;
  }

  .Title-text-style-EN {
    margin-bottom: 0 !important;
  }

  .Ellipse-2 {
    margin-top: 5px;
  }

  .Draw-Mechanics-List-En {
    font-size: 18px;
  }

  .Draw-Mechanics-List-Ar {
    font-size: 18px;
  }

  .child {
    width: 100%;
  }

  .width-50,
  .width-AR-50 {
    width: 60%;
    padding: 9px 0px;
  }

  section#home-section-2 {
    background-image: none;
  }

  .img-responsive {
    width: 70%;
  }

  .learn-more-about-OUR-DIAMOND-DRAW {
    font-size: 11px;
  }

  .learn-more-about-OUR-DIAMOND-DRAW-AR {
    font-size: 14px;
  }

  .Draw-Mechanics {
    margin-bottom: 20px;
    font-size: 45px;
  }

  .Draw-Mechanics-Ar {
    margin-bottom: 20px;
    font-size: 45px;
    text-align: center;
  }

  .get-the-chance-to-win-a-1-carat-diamond-and-more-great-prizes {
    font-size: 20px;
  }

  .get-the-chance-to-win-a-1-carat-diamond-and-more-great-prizes-AR {
    font-size: 20px;
  }

  .order-1 {
    margin: 40px auto;
    text-align: center;
  }

  .home-section-1-top {
    margin-top: 1rem !important;
  }
}

@media(max-height:900px) and (min-height: 800px) {
  .bg-img {
    background-size: cover, 14%, 100%;
  }
}
@media(max-height:800px) and (min-height: 700px) {
  .bg-img {
    background-size: cover, 16%, 100%;
  }
}
@media(max-height: 700px) and (min-height: 600px) {
  .bg-img {
    background-size: cover, 11%, 100%;
  }
  .height-vh {
    height: auto;
  }
}
@media(max-height: 500px){
  .bg-img {
    background-size: cover, 14%, 100%;
  }
}

@media(min-height:1500px) and (max-height: 1400px) {
  .bg-img {
    background-size: cover, 27%, 100%;
  }
  .diamond-img-responsive {
    width: 50%;
  }
  .get-the-chance-to-win-a-1-carat-diamond-and-more-great-prizes {
    font-size: 40px;
  }
}

@media(max-width: 400px){
  .bg-img {
    background-size: cover, 34%, 100%;
  }
}

@media (max-width: 375px) {
  .bg-img {
    background-size: cover, 36%, 100%;
  }
  .diamond-img-responsive {
    width: 55%;
  }
  .Title-text-style-EN {
    margin-top: 0 !important;
    font-size: 85px !important;
  }
  .get-the-chance-to-win-a-1-carat-diamond-and-more-great-prizes {
    font-size: 19px;
    }
}

@media (max-width: 320px) {

  .get-the-chance-to-win-a-1-carat-diamond-and-more-great-prizes {
    font-size: 15px;
  }

  .width-50,
  .width-AR-50 {
    width: 70%;
    padding: 7px 0px;
    margin: 4px auto!important;
  }

  .Rectangle-Mechanics-AR,
  .Rectangle-Mechanics-EN {
    margin-bottom: 30px !important;
  }

  .get-the-chance-to-win-a-1-carat-diamond-and-more-great-prizes-AR {
    font-size: 15px;
  }

  .Draw-Mechanics,
  .Draw-Mechanics-Ar {
    font-size: 40px;
  }

  .Draw-Mechanics-List-Ar .list-text {
    margin-left: 0;
    margin-right: 8%;
  }

  .Draw-Mechanics-List-Ar .Ellipse-2 {
    margin-top: 7px;
  }

  .ENTER-DRAW {
    font-size: 15px;
  }

  .learn-more-about-OUR-DIAMOND-DRAW {
    font-size: 10px;
    padding: 10px 25px;
  }


  .learn-more-about-OUR-DIAMOND-DRAW-AR {
    font-size: 10px;
  }

  .Draw-Mechanics-List-En {
    width: 80%;
    font-size: 13px;
  }

  .Draw-Mechanics-List-Ar {
    width: 80%;
    font-size: 13px;
  }

  div.Eiffel-Tower {
    background-size: cover, 36%, 56%;
  }

  .Ellipse-2 {
    margin: 2px;
  }

  .list-text {
    margin-left: 6% !important;
  }
}
