<head>
  <!--
Event snippet for BJS_Microsite_Counter_13th Nov on : Please do not remove.
Place this snippet on pages with events you’re tracking.
Creation date: 11/13/2019
-->
  <script>
    gtag('event', 'conversion', {
      'allow_custom_scripts': true,
      'send_to': 'DC-8488448/invmedia/bjs_m0+standard'
    });

  </script>
  <noscript>
    <img
      src="https://ad.doubleclick.net/ddm/activity/src=8488448;type=invmedia;cat=bjs_m0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;ord=1?"
      width="1" height="1" alt="" />
  </noscript>
  <!-- End of event snippet: Please do not remove -->
</head>
<section id="home-section-1" class="bg-img height-vh">
  <app-header></app-header>
  <div class="Eiffel-Tower">
    <div class="container">
      <div class="row text-align-center">
        <div class="col-md-12 mb-0" [ngClass]="[arLang ? ' Title-text-style-AR' : ' Title-text-style-EN']">
          <span class="" [innerHTML]="'home.feel_unique_precious' | translate"></span>
        </div>
      </div>
      <div class="center">

        <div class="row">
          <div class="col-md-12 diamond-img-wrap">
            <img src="assets/imgs/diamond-section-1.png" *ngIf="!arLang" class="diamond-img-responsive" alt="Diamond">
            <img src="assets/imgs/diamond-section-1-ar.png" *ngIf="arLang" class="diamond-img-responsive" alt="Diamond">
          </div>
        </div>

        <div class="row home-section-1-top text-align-center">
          <div class="col-md-12"
            [ngClass]="[arLang ? 'get-the-chance-to-win-a-1-carat-diamond-and-more-great-prizes-AR' : 'get-the-chance-to-win-a-1-carat-diamond-and-more-great-prizes']">
            <span [innerHTML]="'home.get_the_chance_to_win' | translate">

            </span>
          </div>
        </div>
        <div class="row text-align-center">
          <div class="col-md-12" [ngClass]="[arLang ? 'reverse-AR' : 'reverse']">
            <button *ngIf="!arLang" [ngx-scroll-to]="drawMechanics" class=" mr-2 width-50 Rectangle-Mechanics-EN">
              <span>
                <i class="fa fa-angle-down ml-0 mr-3"></i>
                {{'home.learn_more_about_our_draw' | translate}}
              </span>
            </button>
            <button *ngIf="!arLang" class=" Rectangle-EN width-50" routerLink="/enter-draw">
              <span>
                {{'home.enter_draw' | translate}}
                <i class="fa fa-angle-right"></i>
              </span>
            </button>

            <button class="Rectangle-AR width-AR-50" routerLink="/enter-draw" *ngIf="arLang">
              <span class="button-txt">
                <i class="fa fa-angle-left"></i>
                {{'home.enter_draw' | translate}}
              </span>
            </button>
            <button *ngIf="arLang" [ngx-scroll-to]="drawMechanics" class="ml-2 width-AR-50 Rectangle-Mechanics-AR">
              <span>
                <i class="fa fa-angle-down ml-0 mr-3"></i>
                {{'home.learn_more_about_our_draw' | translate}}
              </span>
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="home-section-2" #drawMechanics [ngClass]="[arLang ? 'bg-img-right' : 'bg-img-left']">

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-align-center">
        <div [ngClass]="[arLang ? 'Draw-Mechanics-Ar' : 'Draw-Mechanics']"
          [innerHtml]="'home.draw_mechanics' | translate"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-sm-12 m-auto">
        <div [ngClass]="[arLang ? 'Draw-Mechanics-List-Ar' : 'Draw-Mechanics-List-En']">

          <div class="list">
            <div class="Ellipse-2"> </div>
            <div class="list-text" [innerHtml]="'home.draw_mechanics_1' | translate">
            </div>
          </div>

          <div class="list">
            <div class="Ellipse-2"></div>
            <div class="list-text" [innerHtml]="'home.draw_mechanics_2' | translate">
            </div>
          </div>

          <div class="list">
            <div class="Ellipse-2"></div>
            <div class="list-text" [innerHtml]="'home.draw_mechanics_3' | translate">
            </div>
          </div>

          <div class="list">
            <div class="list-text mb-0" [innerHtml]="'home.bisous' | translate">
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <button *ngIf="!arLang" class="Rectangle-EN mt-0" routerLink="/enter-draw">
          <span>
            {{'home.enter_draw' | translate}}
            <i class="fa fa-angle-right"></i>
          </span>
        </button>
        <div *ngIf="arLang">
          <button class="Rectangle-AR" routerLink="/enter-draw">
            <span class="button-txt">
              <i class="fa fa-angle-left"></i>
              {{'home.enter_draw' | translate}}
            </span>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-sm-12 m-auto">
        <div [ngClass]="[arLang ? 'Draw-Mechanics-List-Ar d-rtl' : 'Draw-Mechanics-List-En']">
          <div class="text-style-4 mt-4">
            {{'home.if_you_are_KSA' | translate}}
          </div>

          <div class="text-style-4 mt-4">
            {{'home.every_time_you_reach' | translate}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-4">
        <img src="assets/imgs/MakeUp.png" class="img-responsive mr-10" alt="MakeUp">
      </div>
    </div>
  </div>
  <!-- </div> -->
</section>

<app-footer></app-footer>
