#bg-img-wrap {
  background-image: url('/assets/imgs/eiffel-tower.png'), url('/assets/imgs/diamond.png');
  background-position: bottom left, 110% 40%;
  background-repeat: no-repeat;
  background-size: 33%, 30%;
}

.form-control:disabled, .form-control[readonly] {
  background-color: white !important;
}

.Mandatory-Fields {
  font-family: Avenir;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #b9004f;
}

.Mandatory-Fields-AR {
  font-size: 15px;
  color: #b9004f;
  font-family: Cairo;
  text-align: right;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.Title-text-style-EN {
  text-align: center;
}

.dob-block {
  display: block;
}
.ng-select-custom {
  width: 32%;
  display: inline-block;
}

.mr-auto {
  margin: 0 2% !important;
}

.Rectangle-EN,
.Rectangle-AR {
  margin-top: 0;
}

.invalid-feedback {
    color: #b9004f;
}

form {
  margin-bottom: 2rem;
}

.I-have-read-and-agreed-to-the-Terms-Conditions-EN {
  font-size: 20px;
  text-align: left;
  color: #000000;
  line-height: 1.05;
  margin-left: 25px;
  font-style: normal;
  font-family: Avenir;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.I-have-read-and-agreed-to-the-Terms-Conditions-AR {
  font-size: 20px;
  color: #000000;
  margin-right: 25px;
  text-align: right;
  font-style: normal;
  font-family: Cairo;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

input[type=radio],
input[type=checkbox] {
  display: none !important;
}

.btn:hover,
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.btn-group {
  display: block;
}

.right-0::before {
  right: 0;
}

.radio-btn::before {
  content: " ";
  display: inline-block;
  position: absolute;
  width: 19px;
  height: 19px;
  left: 0;
  border: 1px solid white;
  background-color: #fff;
}

.radio-btn-checked::before {
  color: #ce0058;
  font-size: 15px;
  text-align: center;
  font-family: Avenir;
  content: "\f00c";
  font-family: 'FontAwesome';
}

@media (max-width: 768px) {
  #bg-img-wrap {
    background-size: 50%, 55%;
    background-position: -30% bottom, 140% 75%;
  }

  .Title-text-style-EN {
    font-size: 160px;
  }

  .form-group {
    width: 85%;
  }
  .I-have-read-and-agreed-to-the-Terms-Conditions-EN,
  .I-have-read-and-agreed-to-the-Terms-Conditions-AR {
      font-size: 15px;
  }
}

@media (max-width: 425px) {
    #bg-img-wrap {
      background-size: 70%, 75%;
      background-position: -50% bottom, 198% 77%;
  }
}
