
<app-header></app-header>
<section id="registration" class="bg-gradient" [ngClass]="{'d-rtl': arLang}">
  <div id="bg-img-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-12" [ngClass]="[arLang ? ' Title-text-style-AR' : ' Title-text-style-EN']">
          <span [innerHtml]="'registration.your_time_to_shine' | translate"></span>
        </div>
      </div>

      <form [formGroup]="form" #formDir="ngForm" (ngSubmit)="register()" [ngClass]="{'text-right': arLang}">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label [ngClass]="[arLang ? 'label-AR' : 'label-EN']"
                for="code">{{ 'registration.entry_code' | translate }}</label>
              <input type="text" formControlName="code" class="form-control Rectangle-shadow" id="code"
                aria-describedby="codeHelp"  (keydown.space)="$event.preventDefault();" placeholder="{{'registration.code_placeholder' | translate}}"  [attr.disabled]="codeExist ? '' : null">
                <div *ngIf="codeInvalid" [ngClass]="[arLang ? ' error-msg-AR' : ' error-msg-EN']">
                    <div class="invalid-feedback d-block">
                        {{ 'registration.oops_code_should_be' | translate }}
                    </div>
                  </div>
                <div *ngIf="Code.errors && form.controls.code.touched || formDir.submitted && Code.errors"
                [ngClass]="[arLang ? ' error-msg-AR' : ' error-msg-EN']">

                <div *ngIf="Code.errors?.required" class="invalid-feedback d-block">
                  {{ 'registration.code_required' | translate }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group" [ngClass]="[arLang ? 'placeholder-AR' : '']">
              <label [ngClass]="[arLang ? 'label-AR' : 'label-EN']"
                for="name">{{ 'registration.full_name' | translate }}</label>
              <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="nameHelp"
                placeholder="{{ 'registration.full_name_placeholder' | translate }}">
              <div *ngIf="FullName.errors && form.controls.name.touched || formDir.submitted && FullName.errors"
                [ngClass]="[arLang ? ' error-msg-AR' : ' error-msg-EN']">

                <div *ngIf="FullName.errors?.required" class="invalid-feedback d-block">
                  {{ 'registration.full_name_required' | translate }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label [ngClass]="[arLang ? 'label-AR' : 'label-EN']" for="age"
                class="dob-block">{{ 'registration.date_of_birth' | translate }}</label>

              <ng-select class="ng-select-custom" [items]="days" bindLabel="day" bindValue="day" formControlName="day"
                [ngClass]="[arLang ? 'Select-AR' : '']" placeholder="{{ 'registration.day_placeholder' | translate }}">
              </ng-select>
              <ng-select class="ng-select-custom mr-auto" [items]="months" bindLabel="month" bindValue="month"
                formControlName="month" [ngClass]="[arLang ? 'Select-AR' : '']"
                placeholder="{{ 'registration.month_placeholder' | translate }}">
              </ng-select>
              <ng-select class="ng-select-custom" [items]="years" bindLabel="year" bindValue="year"
                formControlName="year" [ngClass]="[arLang ? 'Select-AR' : '']"
                placeholder="{{ 'registration.year_placeholder' | translate }}">
              </ng-select>

              <div
                *ngIf="DateofBirth.errors && form.controls.year.touched || formDir.submitted && DateofBirth.errors"
                [ngClass]="[arLang ? ' error-msg-AR' : ' error-msg-EN']">

                <div *ngIf="DateofBirth.errors?.required" class="invalid-feedback d-block">
                  {{ 'registration.date_of_birth_required' | translate }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label [ngClass]="[arLang ? 'label-AR' : 'label-EN']"
                for="gender">{{ 'registration.gender' | translate }}</label>
              <ng-select [items]="gender" bindLabel="name" bindValue="name" formControlName="gender"
                [ngClass]="[arLang ? 'Select-AR' : '']"
                placeholder="{{ 'registration.gender_placeholder' | translate }}">
              </ng-select>
              <div *ngIf="Gender.errors && form.controls.gender.touched || formDir.submitted && Gender.errors"
                [ngClass]="[arLang ? ' error-msg-AR' : ' error-msg-EN']">

                <div *ngIf="Gender.errors?.required" class="invalid-feedback d-block">
                  {{ 'registration.gender_required' | translate }}
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label [ngClass]="[arLang ? 'label-AR' : 'label-EN']"
                for="nationality">{{ 'registration.nationality' | translate }}</label>
              <ng-select [items]="nationalities" bindLabel="nationality"
                placeholder="{{ 'registration.nationality_placeholder' | translate }}" bindValue="nationality"
                [ngClass]="[arLang ? 'Select-AR' : '']" formControlName="nationality">
              </ng-select>
              <div
                *ngIf="Nationality.errors && form.controls.nationality.touched || formDir.submitted && Nationality.errors"
                [ngClass]="[arLang ? ' error-msg-AR' : ' error-msg-EN']">

                <div *ngIf="Nationality.errors?.required" class="invalid-feedback d-block">
                  {{ 'registration.nationality_required' | translate }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label [ngClass]="[arLang ? 'label-AR' : 'label-EN']"
                for="country">{{ 'registration.country' | translate }}</label>
              <ng-select [items]="countries" bindLabel="name" (change)="onCountrySelect($event)"
                placeholder="{{ 'registration.country_placeholder' | translate }}" bindValue="codeTwoDigit"
                [ngClass]="[arLang ? 'Select-AR' : '']" formControlName="country">
              </ng-select>
              <div *ngIf="Country.errors && form.controls.country.touched || formDir.submitted && Country.errors"
                [ngClass]="[arLang ? ' error-msg-AR' : ' error-msg-EN']">

                <div *ngIf="Country.errors?.required" class="invalid-feedback d-block">
                  {{ 'registration.country_required' | translate }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group"[ngClass]="[arLang ? 'phone-AR' : '']">
              <label [ngClass]="[arLang ? 'label-AR' : 'label-EN']"
                for="phone">{{ 'registration.contact_number' | translate }}</label>

              <input type="text"  class="form-control" ng2TelInput [ng2TelInputOptions]="telOptions"
                (hasError)="hasError($event)" (ng2TelOutput)="getNumber($event)"
                (intlTelInputObject)="telInputObject($event)" (countryChange)="onCountryChange($event)"
                formControlName="phone" />
                <div *ngIf="!phoneInvalid && submit && form.value.phone" [ngClass]="[arLang ? ' error-msg-AR' : ' error-msg-EN']">
                    <div class="invalid-feedback d-block">
                        {{ 'registration.contact_number_format' | translate }}
                    </div>
                  </div>
              <div *ngIf="Phone.errors && form.controls.phone.touched || formDir.submitted && Phone.errors"
                [ngClass]="[arLang ? ' error-msg-AR' : ' error-msg-EN']">

                <div *ngIf="Phone.errors?.required" class="invalid-feedback d-block">
                  {{ 'registration.contact_number_required' | translate }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label [ngClass]="[arLang ? 'label-AR' : 'label-EN']"
                for="email">{{ 'registration.email_address' | translate }}</label>
              <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp"
                placeholder="{{'registration.email_placeholder' | translate}}"  (keydown.space)="$event.preventDefault();">
              <div *ngIf="Email.errors && form.controls.email.touched || formDir.submitted && Email.errors"
                [ngClass]="[arLang ? ' error-msg-AR' : ' error-msg-EN']">

                <div *ngIf="Email.errors?.pattern" class="invalid-feedback d-block">
                  {{ 'registration.valid_email_address' | translate }}
                </div>
                <div *ngIf="Email.errors?.required" class="invalid-feedback d-block">
                  {{ 'registration.email_required' | translate }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label [ngClass]="[arLang ? 'label-AR' : 'label-EN']"
                for="store">{{ 'registration.store' | translate }}</label>
              <input type="text" formControlName="store" class="form-control" id="store" aria-describedby="storeHelp"
                placeholder="{{'registration.store_placeholder' | translate}}">
              <div *ngIf="Store.errors && form.controls.store.touched || formDir.submitted && Store.errors"
                [ngClass]="[arLang ? ' error-msg-AR' : ' error-msg-EN']">

                <div *ngIf="Store.errors?.required" class="invalid-feedback d-block">
                  {{ 'registration.store_required' | translate }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label [ngClass]="[arLang ? 'label-AR' : 'label-EN']"
                for="invoice">{{ 'registration.invoice_number' | translate }}</label>
              <input type="text" formControlName="invoice" class="form-control" id="invoice"
                aria-describedby="invoiceHelp" [disabled]="true" placeholder="{{'registration.invoice_placeholder' | translate}}">
              <div *ngIf="Invoice.errors && form.controls.invoice.touched || formDir.submitted && Invoice.errors"
                [ngClass]="[arLang ? ' error-msg-AR' : ' error-msg-EN']">

                <div *ngIf="Invoice.errors?.required" class="invalid-feedback d-block">
                  {{ 'registration.invoice_required' | translate }}
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12" [ngClass]="[arLang ? 'Mandatory-Fields-AR' : 'Mandatory-Fields']">
            <div class="form-group mt-3">
              {{ 'registration.mandatory_fields' | translate }}
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group btn-group" btnRadioGroup>
              <label [ngClass]="[arLang ? 'label-AR' : 'label-EN']" btnCheckbox tabindex="0" role="button">
                <div class="radio-btn" [ngClass]="{'radio-btn-checked' : agree, 'right-0' : arLang}"></div>
                <div
                  [ngClass]="[arLang ? 'I-have-read-and-agreed-to-the-Terms-Conditions-AR' : 'I-have-read-and-agreed-to-the-Terms-Conditions-EN']"
                  for="terms" [innerHtml]="'registration.terms' | translate">
                </div>
                <input type="checkbox" (change)="agreeTerms($event)" [value]="agree" formControlName="terms">

                <div *ngIf="(submit && !agree)" [ngClass]="[arLang ? ' error-msg-AR' : ' error-msg-EN']">
                  <div class="invalid-feedback d-block">
                    {{ 'registration.please_agree_to_terms' | translate }}
                  </div>
                </div>
              </label>
              <br>
            </div>
          </div>

        </div>

        <div class="col-md-12 form-group">
          <button type="submit" [ngClass]="[arLang ? 'Rectangle-AR' : 'Rectangle-EN']">
            <span class="enter-draw-bold" [ngClass]='[loading ? "btn-hide" : ""]'>
              {{'registration.enter_draw' | translate }}
            </span>
            <div class="spinner-btn" *ngIf="loading">

              </div>
          </button>
        </div>

      </form>
    </div>
    <app-footer [bgColor]="false"></app-footer>
  </div>
</section>
