<!-- <div class="wrap-testing"> -->
<app-header></app-header>
<section id="congratulations" class="bg-img " [ngClass]="{'d-rtl': arLang}">
  <!-- <div id="bg-img-"> -->

    <div class="container mobile-pd-bottom height-75">
      <div class="row">
        <div class="col-md-12" [ngClass]="[arLang ? ' Title-text-style-AR' : ' Title-text-style-EN']">
          <span [innerHtml]="'congratulations.congratulations' | translate"></span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-11"
        [ngClass]="[arLang ? ' stay-tuned-to-know-if-you-won-check-out-the-draw-dates-priz-AR' : ' stay-tuned-to-know-if-you-won-check-out-the-draw-dates-priz']">
          <span [innerHtml]="'congratulations.stay_tuned' | translate">
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-align-center" >
            <button  *ngIf="!arLang" class="Rectangle-EN" routerLink="/draw-details">
              <span>
                {{'congratulations.draw_dates_prizes' | translate}}
                <i class="fa fa-angle-right"></i>
              </span>
            </button>
            <button class="Rectangle-AR" routerLink="/draw-details" *ngIf="arLang">
              <span class="button-txt">
                {{'congratulations.draw_dates_prizes' | translate}}
                <i class="fa fa-angle-left"></i>
              </span>
            </button>
        </div>
      </div>
    </div>

    <app-footer [bgColor]="false"></app-footer>
  <!-- </div> -->
</section>
<!-- </div> -->
