.bg-img {
  background-image: url('/assets/imgs/stars.png'), url('/assets/imgs/diamond-congratulationcut.png'), linear-gradient(to right, #f9d1d8, #fad8df, #fcdee5, #fde5eb, #feecf1);
  background-repeat: repeat, no-repeat;
  background-size: 100%, 58%;
  background-position: center, center 110%;
}

.wrap-testing {
  background-color: black;
}

.Title-text-style-EN {
  text-align: center;
}

.height-75 {
  height: 82vh;
}

.stay-tuned-to-know-if-you-won-check-out-the-draw-dates-priz {
  margin: 2rem auto;
  font-size: 20px;
  color: #010101;
  text-align: center;
  width: 50%;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-family: Avenir;
  font-stretch: normal;
  letter-spacing: normal;
  text-transform: uppercase;
}

.stay-tuned-to-know-if-you-won-check-out-the-draw-dates-priz-AR {
  margin: 2rem auto;
  font-family: Cairo;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #010101;
  text-transform: uppercase;
}

.text-align-center {
  text-align: center;
}

@media (max-height: 700px) {
  .height-75 {
    /* height: auto; */
  }
  .text-align-center {
    padding-bottom: 10%;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  #bg-img-wrap {
    background-size: 100%, 50%;
    background-position: center, center 100%;
  }
}

@media (max-width: 768px) {
  /* .height-75 {
    height: auto;
  } */

  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 81%;
  }

  .bg-img {
    background-position: center, center 100%;
  }

  /* #bg-img-wrap {
    background-size: 100%, 90%;
    background-position: center, center 136%;
  } */


  .stay-tuned-to-know-if-you-won-check-out-the-draw-dates-priz {
    font-size: 22px;
    width: 100%;
  }
  .stay-tuned-to-know-if-you-won-check-out-the-draw-dates-priz-AR {
    font-size: 22px;
    width: 100%;
  }

  .mobile-pd-bottom {
    padding-bottom: 200px;
  }
}

@media (max-width: 425px) {
    .bg-img {
      background-image: url('/assets/imgs/stars-mobile.png'), url('/assets/imgs/diamond-congratulations.png'), linear-gradient(to right, #f9d1d8, #fad8df, #fcdee5, #fde5eb, #feecf1);
        background-size: 100%, 100%;
        background-position: center, center 115%;
      }
    .Title-text-style-EN {
        font-size: 75px !important;
      }
      .pd-top {
          padding-top: 100px;
      }
      .stay-tuned-to-know-if-you-won-check-out-the-draw-dates-priz {
        font-size: 18px;
        line-height: 1.5;
      }
      .stay-tuned-to-know-if-you-won-check-out-the-draw-dates-priz-AR {
        font-size: 18px;
        line-height: 1.5;
      }
      .Rectangle-EN {
        padding: 12px 25px;
      }

      .col-md-6 {
        -webkit-box-flex: inherit;
        -ms-flex: inherit;
        flex: inherit;
        max-width: inherit;
      }

      .mobile-pd-bottom {
        padding-bottom: 50%;
      }

}

@media (max-width: 320px) {
    .Title-text-style-EN {
        font-size: 60px !important;
      }
      .stay-tuned-to-know-if-you-won-check-out-the-draw-dates-priz {
        font-size: 15px;
        line-height: 2;
      }
      .stay-tuned-to-know-if-you-won-check-out-the-draw-dates-priz-AR {
        font-size: 15px;
        line-height: 2;
      }
}

@media(min-height:1000px) and (max-height: 1200px) {
  .height-75 {
    height: 74vh;
  }
}
@media(min-height:1200px) and (max-height: 1400px) {
  .height-75 {
    max-height: 79vh;
  }
 .bg-img {
   background-position: center, center 100%;
}
}
