/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  max-width:100%;
  overflow-x: hidden !important;
  overscroll-behavior-x: none;
  box-sizing: border-box;
}

.overflow-hidden {
  overflow-y: hidden;
}

.d-rtl {
  direction: rtl;
}

.cairo-font {
  font-family: Cairo !important;
}

.bauer-font {
  font-family: BauerBodoniStd-Roman !important;
}

.spinner {
  width: 40px;
  height: 40px;
}


.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner>div {
  width: 18px;
  height: 18px;
  background-color: #ce0058;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0)
  }

  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px)
  }

  50% {
    -webkit-transform: perspective(120px) rotateY(180deg)
  }

  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@font-face {
  font-family: 'BauerBodoniStd-Roman';
  src: url('assets/fonts/Bauer-Bodoni-Std-1-Bold_6251.ttf') format('ttf'),
    url('assets/fonts/Bauer-Bodoni-Std-1-Bold_6251.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'BauerBodoniStd-Roman';
  src: url('assets/fonts/Bauer-Bodoni-Std-1-Roman.otf') format("otf"),
      url('assets/fonts/BauerBodoniStd-Roman.ttf') format("truetype"),
      url('assets/fonts/BauerBodoniStd-Roman.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'BourjoisParis-Script';
  src: url('assets/fonts/BourjoisParis-Script.ttf') format('truetype'),
      url('assets/fonts/BourjoisParis-Script.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('assets/fonts/AvenirLTStd-Book.otf') format("otf"),
  url('assets/fonts/AvenirLTStd-Book.ttf') format("truetype"),
    url('assets/fonts/AvenirLTStd-Book.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('assets/fonts/AvenirLTStd-Black.otf') format("otf"),
      url('assets/fonts/AvenirLTStd-Black.ttf') format("truetype"),
      url('assets/fonts/AvenirLTStd-Black.otf') format("truetype");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Cairo';
  src: url('assets/fonts/Cairo-Regular.ttf') format("ttf"),
    url('assets/fonts/Cairo-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Cairo';
  src: url('assets/fonts/Cairo-Bold.ttf') format("ttf"),
    url('assets/fonts/Cairo-Bold.ttf') format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

.collapse.show {
  position: absolute;
  top: 25%;
}

select {
  background: white !important;
  padding: 15px 10px !important;
  height: unset !important;
  outline: none !important;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner-btn {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 12px;
  left: 43%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #ccb3b1;
  border-top-color: #f9d1d8;
  animation: spinner 1s linear infinite;
}

.btn-hide {
  visibility: hidden;
}

/* Home Page */

.get-the-chance-to-win-a-1-carat-diamond-and-more-great-prizes .text-style-1 {
  display: block;
  font-size: 30px;
  color: #ce0058;
  font-weight: 900;
}

.get-the-chance-to-win-a-1-carat-diamond-and-more-great-prizes-AR .text-style-1 {
  display: block;
  font-size: 30px;
  color: #ce0058;
  font-weight: 900;
}

.Draw-Mechanics-List-En .text-style-1 {
  color: #ce0058;
  font-weight: 900;
}

.Draw-Mechanics-List-En .text-style-2 {
  font-size: 21px;
  font-weight: 900;
  color: #ce0058;
}

.heart {
  width: 18px;
  height: 18px;
  display: inline-block;
  position: absolute;
  margin: 2px 5px 0 0;
  background-position: center;
  background-repeat: no-repeat;
}

.small {
  top: 20%;
  right: -30%;
  background-size: 65%;
  background-image: url('/assets/icons/heart-copy@3x.png');
}

.big {
  top: 10%;
  right: -41%;
  background-size: 100%;
  background-image: url('/assets/icons/heart@3x.png');
}

.Draw-Mechanics-List-En .text-style-4,
.Draw-Mechanics-List-Ar .text-style-4 {
  font-size: 14px;
}

.Draw-Mechanics-List-En .mt-5 {
  display: block;
}

.text-style-bisous {
  font-size: 65px;
  text-align: left;
  color: #ce0058;
  position: relative;
  font-style: normal;
  line-height: normal;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-family: BourjoisParis-Script;
}

.Draw-Mechanics-List-Ar .text-style-bisous {
  margin-right: 20px;
}

.Draw-Mechanics-List-Ar .text-style-1 {
  font-weight: 900;
  color: #ce0058;
}

.Draw-Mechanics-List-Ar .text-style-2 {
  font-size: 22px;
  font-weight: 900;
  color: #ce0058;
}

.Draw-Mechanics-List-Ar .text-style-3 {
  display: block;
}

.Draw-Mechanics-List-En .mt-5 {
  display: block;
}

/* End Home Page */


/* Registration Page */
.iti__arrow {
  height: 50% !important;
  margin-left: 10px !important;
}

.phone-AR .iti__arrow {
  margin-right: 10px !important;
}

.phone-AR .iti__country-list {
  text-align: right;
}

.iti__selected-flag {
  padding-left: 10px !important;
  outline: none !important;
  box-shadow: none !important;
}

.phone-AR .iti__selected-flag {
  padding-right: 10px !important;
}

.iti--allow-dropdown input,
.iti--allow-dropdown input[type=text] {
  padding-left: 70px !important;
}

.phone-AR .iti--allow-dropdown input,
.iti--allow-dropdown input[type=text] {
  padding-right: 70px !important;
}

.phone-AR .iti--allow-dropdown .iti__flag-container {
  right: 13px !important;
  left: auto;
}

.ng-select .ng-clear-wrapper {
  display: none;
}

.ng-select.ng-select-single .ng-select-container {
  height: unset !important;
  outline: none !important;
  box-shadow: none !important;
  padding: 13px 10px !important;
  background: white !important;
}

.ng-select .ng-arrow-wrapper .ng-arrow,
.iti__arrow {
  border: 0 !important;
}

.ng-select .ng-arrow-wrapper .ng-arrow::before,
.iti__arrow::before {
  color: #ce0058;
  font-size: 16px;
  content: "\f107";
  font-family: 'FontAwesome';
}

.ng-value-container .ng-input>input {
  color: black !important;
  padding: 10px !important;
}

.ng-select-focused {
  outline: none;
  box-shadow: none;
}

.ng-select {
  margin-top: 10px;
}

.ng-select .ng-select-container {
  border: 0 !important;
  min-height: 0 !important;
  border-radius: 0 !important;
}

.ng-select.ng-select-opened>.ng-select-container .ng-arrow {
  top: 0 !important;
}

.Select-AR.ng-select.ng-select-single .ng-select-container {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.pd-left-0 {
  padding-left: 0 !important;
}

.ng-value-container .ng-input>input {
  color: black !important;
  padding: 10px 0 10px 10px !important;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  padding-right: 20px !important;
}

.ng-select .ng-select-container {
  border: 0 !important;
  min-height: 0 !important;
  border-radius: 0 !important;
}

.ng-placeholder {
  font-size: 18px;
  line-height: 1.05;
  text-align: left;
  font-style: normal;
  font-family: Avenir;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #6c757d !important;
}

.Select-AR .ng-placeholder {
  font-family: Cairo !important;
  line-height: unset !important;
}

.ng-value {
  font-size: 18px;
  line-height: 1.05;
  text-align: left;
  font-style: normal;
  font-family: Avenir;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #495057 !important;
}

.Select-AR .ng-value {
  font-family: Cairo !important;
  line-height: unset !important;
}

/* End Registration Page */

.navbar-toggler:not(:disabled):not(.disabled) {
  outline: none;
  box-shadow: none;
}

.dropdown-toggle::after {
  display: none;
}

.I-have-read-and-agreed-to-the-Terms-Conditions-EN .text-style-1 a,
.I-have-read-and-agreed-to-the-Terms-Conditions-AR .text-style-1 a {
  color: #ce0058;
  cursor: pointer;
  text-decoration: underline;
}

.country-title {
  font-weight: 600;
  font-size: 25px;
  text-decoration: underline;
}

.country-title-ar {
  font-weight: 600;
  font-size: 22px;
  text-decoration: underline;
}

.privacy-title {
  font-size: 25px;
  font-weight: 600;
  color: #ce0058;
  text-transform: uppercase;
}

.privacy-title-ar {
  font-size: 22px;
  font-weight: 600;
  color: #ce0058;
  text-transform: uppercase;
}

.font-color {
  color: #ce0058 !important;
}

.privacy-bold-text {
  font-weight: 600;
}

.stay-tuned-to-know-if-you-won-check-out-the-draw-dates-priz .text-style-1,
.stay-tuned-to-know-if-you-won-check-out-the-draw-dates-priz-AR .text-style-1 {
  font-weight: 900;
  color: #ce0058;
}

.iti {
  margin-top: 10px;
  display: block !important;
}

.Title-text-style-EN {
  font-family: BourjoisParis-Script;
  font-size: 110px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  letter-spacing: normal;
  color: #b9004f;
}

.Title-text-style-AR {
  font-size: 90px;
  color: #b9004f;
  font-weight: bold;
  font-family: Cairo;
  text-align: center;
  line-height: 1;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  margin-bottom: 2rem;
}

.bg-gradient {
  background-image: linear-gradient(to right, #f9d1d8, #fad8df, #fcdee5, #fde5eb, #feecf1);
  background-size: contain;
}

.SubTitle-text-style-EN {
  font-size: 50px;
  color: #ce0058;
  font-style: normal;
  text-align: center;
  font-weight: normal;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  font-family: BauerBodoniStd-Roman;
}

.SubTitle-text-style-AR {
  font-size: 50px;
  color: #ce0058;
  font-style: normal;
  text-align: center;
  font-family: Cairo;
  font-weight: normal;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.Rectangle-EN {
  color: white;
  cursor: pointer;
  padding: 12px 40px;
  margin-top: 20px;
  position: relative;
  display: inline-block;
  outline: none !important;
  background-color: #ce0058;
  border: 1px solid #ce0058;
}

.Rectangle-Mechanics-EN {
  cursor: pointer;
  color: #ce0058;
  padding: 12px 40px;
  margin-top: 20px;
  position: relative;
  display: inline-block;
  outline: none !important;
  border: 1px solid #ce0058;
  background-color: transparent;
}

.Rectangle-Mechanics-AR {
  cursor: pointer;
  color: #ce0058;
  padding: 10px 40px;
  margin-top: 20px;
  position: relative;
  display: inline-block;
  outline: none !important;
  border: 1px solid #ce0058;
  background-color: transparent;
}

.Rectangle-AR {
  cursor: pointer;
  color: white;
  margin-top: 15px;
  position: relative;
  padding: 10px 40px;
  display: inline-block;
  outline: none !important;
  border: 1px solid #ce0058;
  background-color: #ce0058;
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  outline: none;
  border: 0;
  margin-top: 10px;
  padding: 15px 20px;
  border-color: transparent;
}

.form-control:focus {
  box-shadow: none;
}

.Rectangle-shadow {
  box-shadow: -5px 5px 0px -1px rgba(206, 0, 88, 1) !important;
  -moz-box-shadow: -5px 5px 0px -1px rgba(206, 0, 88, 1) !important;
  -webkit-box-shadow: -5px 5px 0px -1px rgba(206, 0, 88, 1) !important;
}

.label-EN {
  font-family: Avenir;
  font-size: 20px;
  outline: none;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.05;
  letter-spacing: normal;
  text-align: left;
  color: #b9004f;
}

.label-AR {
  outline: none;
  font-size: 20px;
  color: #b9004f;
  text-align: right;
  line-height: 1.05;
  font-style: normal;
  font-family: Cairo;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.error-msg-EN div {
  color: #b9004f;
  font-family: Avenir;
}

.error-msg-AR div {
  color: #b9004f;
  text-align: right;
  font-family: Cairo;
}

.d-rtl ::placeholder {
  text-align: right;
}

.placeholder-AR ::placeholder {
  font-size: 20px !important;
  font-family: Cairo !important;
  line-height: unset !important;
}

::placeholder {
  font-family: Avenir;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.05;
  letter-spacing: normal;
  text-align: left;
  color: #adadad;
}

.enter-draw-bold {
  font-weight: 900 !important;
}

.form-group {
  width: 50%;
  padding-left: 0;
  padding-right: 0;
  margin: 40px auto 0;
}

.Rectangle-EN span,
.Rectangle-Mechanics-EN span {
  outline: none;
  cursor: pointer;
  font-size: 15px;
  text-align: left;
  box-shadow: none;
  font-style: normal;
  font-family: Avenir;
  font-weight: normal;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.Rectangle-AR span,
.Rectangle-Mechanics-AR span {
  outline: none;
  cursor: pointer;
  font-size: 17px;
  box-shadow: none;
  text-align: right;
  font-family: Cairo !important;
  font-style: normal;
  line-height: normal;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.fa-angle-right {
  margin-left: 15px;
}

.fa-angle-left {
  margin-right: 15px;
}

.grand-prize-winners-title .text-style-1 {
  font-size: 33px;
  font-weight: 900;
  display: block;
  color: #ce0058;
}

.grand-prize-winners-title-AR .text-style-1 {
  font-size: 35px;
  font-weight: 900;
  color: #ce0058;
}

.other-prizes-winners-title .text-style-1 {
  font-size: 33px;
  font-weight: 900;
  display: block;
  color: #ce0058;
}

.other-prizes-winners-title-AR .text-style-1 {
  font-size: 33px;
  font-weight: 900;
  color: #ce0058;
}

.no-winners-yet-please-come-back-on-the-31st-of-december-to-fi .text-style-1,
.no-winners-yet-please-come-back-on-the-31st-of-december-to-fi-AR .text-style-1 {
  font-size: 30px;
  font-weight: 900;
  color: #ce0058;
}

.no-winners-yet-please-come-back-on-the-31st-of-december-to-fi .text-style-2,
.no-winners-yet-please-come-back-on-the-31st-of-december-to-fi-AR .text-style-2 {
  font-weight: 900;
  color: #ce0058;
}

.no-winners-yet-please-come-back-on-the-31st-of-december-to-fi .text-style-4,
.no-winners-yet-please-come-back-on-the-31st-of-december-to-fi-AR .text-style-4 {
  font-weight: 900;
  font-size: 30px;
  color: #ce0058;
}

.no-winners-yet-please-come-back-on-the-31st-of-december-to-fi .text-style-3 {
  font-size: 30px;
  font-weight: 900;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .get-the-chance-to-win-a-1-carat-diamond-and-more-great-prizes .text-style-1 {
    /* font-size: 35px; */
  }
}

@media (max-width: 768px) and (min-width: 425px) {
  .display-block {
    display: block;
  }

  .get-the-chance-to-win-a-1-carat-diamond-and-more-great-prizes .text-style-1 {
    font-size: 30px;
  }

  .get-the-chance-to-win-a-1-carat-diamond-and-more-great-prizes-AR .text-style-1 {
    font-size: 40px;
  }

  .heart {
    margin-top: 5px;
  }

  .grand-prize-winners-title .text-style-1,
  .other-prizes-winners-title .text-style-1,
  .grand-prize-winners-title-AR .text-style-1,
  .other-prizes-winners-title-AR .text-style-1 {
    font-size: 25px;
  }

  .Title-text-style-EN {
    font-size: 90px;
    text-align: center;
  }

  .Title-text-style-AR {
    font-size: 75px;
    line-height: 1.3;
  }

  .SubTitle-text-style-EN {
    font-size: 40px;
  }

  .SubTitle-text-style-AR {
    font-size: 40px;
  }

  .Rectangle-EN {
    padding: 12px 45px;
  }

  .Rectangle-EN span,
  .Rectangle-Mechanics-EN span {
    font-size: 17px;
  }

  .Rectangle-AR {
    margin-top: 30px;
    padding: 10px 32px;
  }

  .Rectangle-AR span,
  .Rectangle-Mechanics-AR span {
    font-size: 18px;
  }

  .no-winners-yet-please-come-back-on-the-31st-of-december-to-fi .text-style-3,
  .no-winners-yet-please-come-back-on-the-31st-of-december-to-fi .text-style-1 {
    font-size: 24px;
  }
}

@media (max-width: 425px) {
  .display-block {
    display: block;
  }

  .get-the-chance-to-win-a-1-carat-diamond-and-more-great-prizes .text-style-1 {
    font-size: 27px;
  }

  .get-the-chance-to-win-a-1-carat-diamond-and-more-great-prizes-AR .text-style-1 {
    font-size: 27px;
  }

  .heart {
    margin-top: 2px;
  }

  .Title-text-style-EN {
    font-size: 90px !important;
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }

  .Title-text-style-AR {
    line-height: 1.3;
    font-size: 50px !important;
    margin-top: 2rem !important;
    margin-bottom: 1rem !important;
  }

  .SubTitle-text-style-EN,
  .SubTitle-text-style-AR {
    font-size: 38px;
  }

  .form-group {
    margin-top: 30px;
  }

  .grand-prize-winners-title .text-style-1,
  .grand-prize-winners-title-AR .text-style-1 {
    font-size: 23px;
  }

  .other-prizes-winners-title .text-style-1,
  .other-prizes-winners-title-AR .text-style-1 {
    font-size: 20px;
  }

  .Rectangle-EN {
    padding: 12px 40px;
  }

  .Rectangle-EN span,
  .Rectangle-Mechanics-EN span {
    font-size: 15px;
  }

  .Rectangle-AR {
    padding: 10px 20px;
  }

  .Rectangle-AR span,
  .Rectangle-Mechanics-AR span {
    font-size: 15px;
  }

  .no-winners-yet-please-come-back-on-the-31st-of-december-to-fi .text-style-1,
  .no-winners-yet-please-come-back-on-the-31st-of-december-to-fi .text-style-3,
  .no-winners-yet-please-come-back-on-the-31st-of-december-to-fi-AR .text-style-1,
  .no-winners-yet-please-come-back-on-the-31st-of-december-to-fi-AR .text-style-3 {
    font-size: 22px;
  }

  ::placeholder,
  .ng-placeholder,
  .ng-value,
  .placeholder-AR ::placeholder,
  .Select-AR .ng-value {
    font-size: 16px;
  }

  .spinner-btn {
    top: 11px;
    left: 43%;
  }
}

@media (max-width: 375px) {
  .Rectangle-EN {
    margin-top: 10px;
    padding: 10px 30px;
  }
  .pg-loading-screen .pg-loading-logo-header img {
    width: 70% !important;
}

  .Rectangle-EN span,
  .Rectangle-Mechanics-EN span {
    font-size: 13px;
  }

  .Title-text-style-AR {
    font-size: 45px !important;
  }

  ::placeholder,
  .ng-placeholder,
  .placeholder-AR ::placeholder {
    line-height: 1.5;
  }

  .Rectangle-AR {
    margin-top: 10px;
    padding: 10px 30px;
  }

  .Rectangle-AR span,
  .Rectangle-Mechanics-AR span {
    font-size: 13px;
  }

  .no-winners-yet-please-come-back-on-the-31st-of-december-to-fi .text-style-1,
  .no-winners-yet-please-come-back-on-the-31st-of-december-to-fi .text-style-3,
  .no-winners-yet-please-come-back-on-the-31st-of-december-to-fi-AR .text-style-1,
  .no-winners-yet-please-come-back-on-the-31st-of-december-to-fi-AR .text-style-3 {
    font-size: 18px;
  }

  .SubTitle-text-style-EN,
  .SubTitle-text-style-AR {
    font-size: 23px;
  }

  .spinner-btn {
    top: 11px;
    left: 42%;
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 320px) {
  .Title-text-style-EN {
    margin: 2rem 0 !important;
    font-size: 70px !important;
  }

  .Title-text-style-AR {
    margin: 2rem 0 0 !important;
    font-size: 40px !important;
  }

  .get-the-chance-to-win-a-1-carat-diamond-and-more-great-prizes .text-style-1 {
    font-size: 22px;
  }

  .get-the-chance-to-win-a-1-carat-diamond-and-more-great-prizes-AR .text-style-1 {
    font-size: 22px;
  }

  .Draw-Mechanics-List-Ar .text-style-2 {
    font-size: 18px;
  }

  .Draw-Mechanics-List-Ar .heart {
    margin-top: 7px;
  }

  .heart {
    background-size: 76%;
    margin-top: 0;
    background-position: center;
  }

  .SubTitle-text-style-EN {
    font-size: 28px;
  }

  .SubTitle-text-style-AR {
    font-size: 28px;
  }

  .navbar {
    padding-top: 20%;
  }

  ::placeholder,
  label,
  .ng-placeholder,
  .placeholder-AR ::placeholder {
    font-size: 15px !important;
  }

  .form-control {
    padding: 10px 10px !important;
  }

  .grand-prize-winners-title .text-style-1,
  .grand-prize-winners-title-AR .text-style-1 {
    font-size: 20px;
  }

  .other-prizes-winners-title .text-style-1,
  .other-prizes-winners-title-AR .text-style-1 {
    font-size: 16px;
  }
}

@media(min-height:1000px) and (max-height: 1400px) {
  .get-the-chance-to-win-a-1-carat-diamond-and-more-great-prizes .text-style-1 {
    font-size: 45px;
  }
}
